table {
    border-collapse: collapse;
    width: 80%;
}
table, th, td {
    text-align: left;
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
.vertinput, .vertlabel {
    display:block;
}
textarea {
    width: 100%;
    min-height:300px;
}
