name: CI
on:
  pull_request:
  # Trigger on merges to `main` to allow `actions/setup-gradle` runs to write their caches.
  # https://github.com/gradle/actions/blob/main/docs/setup-gradle.md#using-the-cache-read-only
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/wrapper-validation-action@v3
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew check koverXmlReport
      - uses: codecov/codecov-action@v5
      - run: ./gradlew assembleGitHubPages
      - run: ./gradlew -PRELEASE_SIGNING_ENABLED=false publishToMavenLocal
